.container {
    color: var(--foreground);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;

    background: var(--bg);
}

.text {
    font-size: clamp(1.5rem, 5vw, 2.5rem); /* Responsive font size */
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease;
    margin: 0.5rem 0;
    color: var(--foreground);
}

.jumbled {
    color: var(--muted-foreground);
    opacity: 0.8;
}

.revealed {
    color: var(--foreground);
    opacity: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.animatedName {
    background: linear-gradient(45deg, var(--primary), var(--destructive), var(--aztec),var(--primary) );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 5s ease infinite;
    font-size: clamp(1rem, 3vw, 1.5rem); /* Responsive font size */
    justify-content: center;
    flex-wrap: wrap; /* For small screens */
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

